# Data Cleaning and Preparation

In [1]:
import numpy as np
import datetime
import pandas as pd
import os
from tqdm import tqdm
import concurrent.futures

## Google Trends Data

In [17]:
files = os.listdir("../csv/trends/raw")
files

['analyst.csv',
 'bailout.csv',
 'banking.csv',
 'bankruptcy.csv',
 'bear market.csv',
 'betting.csv',
 'billionaire.csv',
 'bonds.csv',
 'bull market.csv',
 'debt ceiling.csv',
 'debt.csv',
 'default.csv',
 'democrat.csv',
 'disease.csv',
 'division.csv',
 'earnings.csv',
 'economy.csv',
 'election.csv',
 'etf.csv',
 'executive order.csv',
 'fed.csv',
 'federal reserve.csv',
 'finance.csv',
 'fire.csv',
 'forex.csv',
 'fraud.csv',
 'GDP.csv',
 'gold.csv',
 'government spending.csv',
 'health.csv',
 'hedge fund.csv',
 'immigration.csv',
 'inflation.csv',
 'innovation.csv',
 'insider trading.csv',
 'interest rates.csv',
 'investment banking.csv',
 'investment.csv',
 'investor confidence.csv',
 'jobs.csv',
 'law.csv',
 'lawsuit.csv',
 'loan.csv',
 'luxury.csv',
 'millionaire.csv',
 'money.csv',
 'mortgage.csv',
 'NASDAQ.csv',
 'news.csv',
 'NYSE.csv',
 'option call.csv',
 'option put.csv',
 'politics.csv',
 'prayers.csv',
 'prices.csv',
 'recession.csv',
 'rent.csv',
 'republican.csv',
 'rigged economy.csv',
 'S&P 500.csv',
 'sec investigation.csv',
 'silicon valley.csv',
 'sports.csv',
 'spy.csv',
 'startup.csv',
 'stimulus.csv',
 'stock futures.csv',
 'stock trading.csv',
 'stock-market.csv',
 'stocks.csv',
 'supreme court.csv',
 'technology.csv',
 'treasury.csv',
 'unemployment.csv',
 'vaccine.csv',
 'venture capital.csv',
 'wall street bets.csv',
 'wall street.csv',
 'war.csv']

In [18]:
def clean_file(file):
    data = pd.read_csv("../csv/trends/raw/{}".format(file))
    data = data.drop(columns="isPartial")
    data = data.drop_duplicates(subset="date", keep="last")
    data.to_csv("../csv/trends/cleaned/{}".format(file), index=False)

In [29]:
# Slow, Non Parallelized
# for file in tqdm(files):
#     clean_file(file)

In [19]:
# Fast, Parallelized, Wow
with concurrent.futures.ThreadPoolExecutor(max_workers=12) as executor:
    executor.map(clean_file,
                 files)

In [24]:
files = os.listdir("../csv/trends/cleaned")
files

['analyst.csv',
 'bailout.csv',
 'banking.csv',
 'bankruptcy.csv',
 'bear market.csv',
 'betting.csv',
 'billionaire.csv',
 'bonds.csv',
 'bull market.csv',
 'debt ceiling.csv',
 'debt.csv',
 'default.csv',
 'democrat.csv',
 'disease.csv',
 'division.csv',
 'earnings.csv',
 'economy.csv',
 'election.csv',
 'etf.csv',
 'executive order.csv',
 'fed.csv',
 'federal reserve.csv',
 'finance.csv',
 'fire.csv',
 'forex.csv',
 'fraud.csv',
 'GDP.csv',
 'gold.csv',
 'government spending.csv',
 'health.csv',
 'hedge fund.csv',
 'immigration.csv',
 'inflation.csv',
 'innovation.csv',
 'insider trading.csv',
 'interest rates.csv',
 'investment banking.csv',
 'investment.csv',
 'investor confidence.csv',
 'jobs.csv',
 'law.csv',
 'lawsuit.csv',
 'loan.csv',
 'luxury.csv',
 'millionaire.csv',
 'money.csv',
 'mortgage.csv',
 'NASDAQ.csv',
 'news.csv',
 'NYSE.csv',
 'option call.csv',
 'option put.csv',
 'politics.csv',
 'prayers.csv',
 'prices.csv',
 'recession.csv',
 'rent.csv',
 'republican.csv',
 'rigged economy.csv',
 'S&P 500.csv',
 'sec investigation.csv',
 'silicon valley.csv',
 'sports.csv',
 'spy.csv',
 'startup.csv',
 'stimulus.csv',
 'stock futures.csv',
 'stock trading.csv',
 'stock-market.csv',
 'stocks.csv',
 'supreme court.csv',
 'technology.csv',
 'treasury.csv',
 'unemployment.csv',
 'vaccine.csv',
 'venture capital.csv',
 'wall street bets.csv',
 'wall street.csv',
 'war.csv']

In [25]:
data = map(lambda f: pd.read_csv("../csv/trends/cleaned/{}".format(f)), files)
data = list(data)
data[0]

                      date  analyst
0      2015-01-01 00:00:00       38
1      2015-01-01 01:00:00       38
2      2015-01-01 02:00:00       40
3      2015-01-01 03:00:00       43
4      2015-01-01 04:00:00       42
...                    ...      ...
57189  2021-07-17 20:00:00       43
57190  2021-07-17 21:00:00       44
57191  2021-07-17 22:00:00       43
57192  2021-07-17 23:00:00       46
57193  2021-07-18 00:00:00       45

[57194 rows x 2 columns]

In [26]:
for d in range(len(data)):
    data[d]["date"] = pd.to_datetime(data[d]["date"])
    data[d] = data[d].set_index("date")

In [27]:
data[0].index

DatetimeIndex(['2015-01-01 00:00:00', '2015-01-01 01:00:00',
               '2015-01-01 02:00:00', '2015-01-01 03:00:00',
               '2015-01-01 04:00:00', '2015-01-01 05:00:00',
               '2015-01-01 06:00:00', '2015-01-01 07:00:00',
               '2015-01-01 08:00:00', '2015-01-01 09:00:00',
               ...
               '2021-07-17 15:00:00', '2021-07-17 16:00:00',
               '2021-07-17 17:00:00', '2021-07-17 18:00:00',
               '2021-07-17 19:00:00', '2021-07-17 20:00:00',
               '2021-07-17 21:00:00', '2021-07-17 22:00:00',
               '2021-07-17 23:00:00', '2021-07-18 00:00:00'],
              dtype='datetime64[ns]', name='date', length=57194, freq=None)

In [28]:
list(map(lambda x: x.index.is_unique, data))

[True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True]

In [29]:
full_data = pd.concat(data, ignore_index=False, axis=1, join="outer")
full_data.head()

,analyst,bailout,banking,bankruptcy,bear market,betting,billionaire,bonds,bull market,debt ceiling,...,stocks,supreme court,technology,treasury,unemployment,vaccine,venture capital,wall street bets,wall street,war
date,,,,,,,,,,,,,,,,,,,,,
2015-01-01 00:00:00,38.0,47.0,28.0,50,40.0,68.0,28,30,86.0,9.0,...,76.0,48.0,32.0,33.0,45,54.0,21.0,0.0,60.0,76.0
2015-01-01 01:00:00,38.0,60.0,28.0,53,36.0,40.0,36,27,100.0,19.0,...,74.0,56.0,37.0,33.0,40,56.0,15.0,0.0,63.0,79.0
2015-01-01 02:00:00,40.0,69.0,30.0,62,30.0,48.0,29,35,61.0,5.0,...,73.0,56.0,39.0,35.0,38,52.0,99.0,0.0,60.0,80.0
2015-01-01 03:00:00,43.0,33.0,38.0,34,28.0,41.0,33,34,47.0,24.0,...,96.0,53.0,45.0,41.0,37,54.0,21.0,0.0,57.0,79.0
2015-01-01 04:00:00,42.0,31.0,41.0,38,34.0,48.0,33,39,41.0,19.0,...,72.0,54.0,47.0,45.0,33,59.0,20.0,0.0,54.0,74.0

In [31]:
full_data = full_data.fillna(0)
full_data.head()

,analyst,bailout,banking,bankruptcy,bear market,betting,billionaire,bonds,bull market,debt ceiling,...,stocks,supreme court,technology,treasury,unemployment,vaccine,venture capital,wall street bets,wall street,war
date,,,,,,,,,,,,,,,,,,,,,
2015-01-01 00:00:00,38.0,47.0,28.0,50,40.0,68.0,28,30,86.0,9.0,...,76.0,48.0,32.0,33.0,45,54.0,21.0,0.0,60.0,76.0
2015-01-01 01:00:00,38.0,60.0,28.0,53,36.0,40.0,36,27,100.0,19.0,...,74.0,56.0,37.0,33.0,40,56.0,15.0,0.0,63.0,79.0
2015-01-01 02:00:00,40.0,69.0,30.0,62,30.0,48.0,29,35,61.0,5.0,...,73.0,56.0,39.0,35.0,38,52.0,99.0,0.0,60.0,80.0
2015-01-01 03:00:00,43.0,33.0,38.0,34,28.0,41.0,33,34,47.0,24.0,...,96.0,53.0,45.0,41.0,37,54.0,21.0,0.0,57.0,79.0
2015-01-01 04:00:00,42.0,31.0,41.0,38,34.0,48.0,33,39,41.0,19.0,...,72.0,54.0,47.0,45.0,33,59.0,20.0,0.0,54.0,74.0

In [33]:
full_data.to_csv("trends.csv")

In [ ]:
full_data.rolling()

In [6]:
data = pd.read_csv("../csv/trends/trends.csv")
data.head()

,date,analyst,bailout,banking,bankruptcy,bear market,betting,billionaire,bonds,bull market,...,stocks,supreme court,technology,treasury,unemployment,vaccine,venture capital,wall street bets,wall street,war
0,2015-01-01 00:00:00,38.0,47.0,28.0,50,40.0,68.0,28,30,86.0,...,76.0,48.0,32.0,33.0,45,54.0,21.0,0.0,60.0,76.0
1,2015-01-01 01:00:00,38.0,60.0,28.0,53,36.0,40.0,36,27,100.0,...,74.0,56.0,37.0,33.0,40,56.0,15.0,0.0,63.0,79.0
2,2015-01-01 02:00:00,40.0,69.0,30.0,62,30.0,48.0,29,35,61.0,...,73.0,56.0,39.0,35.0,38,52.0,99.0,0.0,60.0,80.0
3,2015-01-01 03:00:00,43.0,33.0,38.0,34,28.0,41.0,33,34,47.0,...,96.0,53.0,45.0,41.0,37,54.0,21.0,0.0,57.0,79.0
4,2015-01-01 04:00:00,42.0,31.0,41.0,38,34.0,48.0,33,39,41.0,...,72.0,54.0,47.0,45.0,33,59.0,20.0,0.0,54.0,74.0

In [7]:
data.set_index("date")
data.head()

,date,analyst,bailout,banking,bankruptcy,bear market,betting,billionaire,bonds,bull market,...,stocks,supreme court,technology,treasury,unemployment,vaccine,venture capital,wall street bets,wall street,war
0,2015-01-01 00:00:00,38.0,47.0,28.0,50,40.0,68.0,28,30,86.0,...,76.0,48.0,32.0,33.0,45,54.0,21.0,0.0,60.0,76.0
1,2015-01-01 01:00:00,38.0,60.0,28.0,53,36.0,40.0,36,27,100.0,...,74.0,56.0,37.0,33.0,40,56.0,15.0,0.0,63.0,79.0
2,2015-01-01 02:00:00,40.0,69.0,30.0,62,30.0,48.0,29,35,61.0,...,73.0,56.0,39.0,35.0,38,52.0,99.0,0.0,60.0,80.0
3,2015-01-01 03:00:00,43.0,33.0,38.0,34,28.0,41.0,33,34,47.0,...,96.0,53.0,45.0,41.0,37,54.0,21.0,0.0,57.0,79.0
4,2015-01-01 04:00:00,42.0,31.0,41.0,38,34.0,48.0,33,39,41.0,...,72.0,54.0,47.0,45.0,33,59.0,20.0,0.0,54.0,74.0

In [8]:
data["date"].max()

'2021-07-18 00:00:00'

In [9]:
data["date"].min()

'2015-01-01 00:00:00'

In [45]:
start = datetime.datetime(2015, 1, 1, 9, 0, 0)
end = datetime.datetime(2021, 7, 18, 9, 0, 0)
delta = datetime.timedelta(days=1)

In [46]:
data["date"] = pd.to_datetime(data["date"])

In [47]:
grouped_data = {}

while start < end:
    n = start + delta
    temp = data[data["date"] >= start]
    temp = temp[temp["date"] <= n]
    if len(temp) == 25:
        temp = temp.drop("date", axis=1)
        grouped_data[n] = temp.to_numpy().flatten()
    start = n

In [48]:
frame = pd.DataFrame.from_dict(grouped_data, orient="index")

In [49]:
frame.shape

(2389, 1975)

In [50]:
frame.head()

,0,1,2,3,4,5,6,7,8,9,...,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974
2015-01-02 09:00:00,37.0,30.0,55.0,49.0,18.0,47.0,22.0,30.0,12.0,4.0,...,47.0,35.0,60.0,57.0,29.0,40.0,29.0,0.0,34.0,60.0
2015-01-03 09:00:00,47.0,53.0,95.0,39.0,29.0,40.0,23.0,42.0,12.0,18.0,...,43.0,32.0,56.0,42.0,29.0,39.0,15.0,0.0,39.0,57.0
2015-01-04 09:00:00,41.0,33.0,65.0,41.0,28.0,49.0,38.0,39.0,11.0,21.0,...,38.0,25.0,51.0,29.0,31.0,38.0,13.0,0.0,39.0,60.0
2015-01-05 09:00:00,38.0,49.0,43.0,41.0,19.0,71.0,30.0,36.0,5.0,8.0,...,42.0,38.0,93.0,70.0,34.0,51.0,22.0,0.0,30.0,51.0
2015-01-06 09:00:00,59.0,38.0,100.0,45.0,21.0,53.0,23.0,57.0,6.0,10.0,...,47.0,34.0,86.0,77.0,34.0,56.0,25.0,0.0,30.0,53.0

In [52]:
frame.to_csv(open("../csv/trends/input.csv", "w+"), index=True, index_label="date")

## WRDS Options Data

In [2]:
options_files = [
    "../csv/options/raw/2015-16options.csv",
    "../csv/options/raw/2016-17options.csv",
    "../csv/options/raw/2017-18options.csv",
    "../csv/options/raw/2018-19options.csv",
    "../csv/options/raw/2019-20options.csv"
]

In [3]:
def clean_options(file):
    print("Reading")
    data = pd.read_csv(file)
    print("Fixing Dates")
    data["date"] = pd.to_datetime(data["date"], errors='coerce')
    data["exdate"] = pd.to_datetime(data["exdate"], errors='coerce')
    print("Dropping NAs")
    data = data.dropna()
    print("Saving to File")
    data.to_csv(open("../csv/options/cleaned/{}".format(file.split("/"))[-1], "w+"), index=False)

In [4]:
for file in options_files:
    print("Cleaning {}".format(file))
    clean_options(file)
    print("Done.")

Cleaning ../csv/options/raw/2015-16options.csv
Reading
Fixing Dates
Dropping NAs
Saving to File
Done.
Cleaning ../csv/options/raw/2016-17options.csv
Reading
Fixing Dates
Dropping NAs
Saving to File
Done.
Cleaning ../csv/options/raw/2017-18options.csv
Reading
Fixing Dates
Dropping NAs
Saving to File
Done.
Cleaning ../csv/options/raw/2018-19options.csv
Reading
Fixing Dates
Dropping NAs
Saving to File
Done.
Cleaning ../csv/options/raw/2019-20options.csv
Reading
Fixing Dates
Dropping NAs

KeyboardInterrupt